
#top {
    position: relative;

    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: white;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #d89cf6;
    padding: 5px;
    width: 170px;
    height:100%;
}

#right {
    float: right;
    background-color: #d89cf6;
    padding: 5px;
    width: 170px;
}

.center_content {
    
    position: relative;
    text-align: center;
    background-color: white;
    padding: 5px;
}

.left_content {
    background-color: #3e206d;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #3e206d;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    height:100%;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


